.shrink {
    transform: scale(0.8)
}

.remove {
    display: none
}

.hide {
    visibility: hidden
}

body {
    background-color: red;
}

.background {
    background-color: blue;
}